* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header start */
body {
	/* background-color: black; */
}
header {
	/* background-color: black; */

	width: 100%;
	height: auto;
	/* border: 2px solid black; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.work_form input {
	margin: 20px;
	padding: 13px;
	width: 300px;
	height: 35px;
	left: 514px;
	top: 52px;
	background: #ffffff;
	border: 2px solid #000000;
	border-radius: 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn_enter {
	margin: 15px;
	width: 189px;
	height: 57px;
	left: 1180px;
	top: 52px;
	background: #ff7675;
	border-radius: 50px;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
}
/* header end */

/* cards start */
.work-container {
	display: grid;
	max-width: 1200px;
	margin: 82px auto;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(66px, auto);
	min-height: 300px;
	grid-row-gap: 20px;
	grid-gap: 66px 70px;
}

.works {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 28px;
	font-weight: 700;
	font-size: 25px;
	line-height: 36px;
	width: 362px;
	height: auto;
	border: 2px solid #000000;
	border-radius: 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* cards end */

/* images start */
.images {
	flex: 0 0 33.333%;
	border: 1px solid black;
}

.images_block {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 58% 0px;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.images_block img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
/* images end */

.progress-container {
	position: relative;
	height: 37px;
	border: 1px solid #000000;
}

.progress-line {
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 0;
	background: linear-gradient(to right, tomato, red);
	transition: 1s ease;
}

.progress-value {
	position: absolute;
	text-align: center;
	width: 300px;
}
